<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Service.Properties.Settings.serviceConnectionString"
            connectionString="server=localhost;user id=sa;password=orkut22;database=service"
            providerName="MySql.Data.MySqlClient" />
        <add name="Service.Properties.Settings.serviceConnection" connectionString="server=localhost;user id=root;password=orkut22;persistsecurityinfo=True;database=service"
            providerName="MySql.Data.MySqlClient" />
        <add name="Service.Properties.Settings.serviceConnectionString1"
            connectionString="User Id=root;Password=orkut22;Host=localhost;Database=service"
            providerName="Devart.Data.MySql" />
        <add name="Service.Properties.Settings.PaypeConnectionString"
            connectionString="Server=localhost;database=paype;Uid=sa;Pwd=orkut22"
            providerName="System.Data.SqlClient" />
        <add name="Service.Properties.Settings.paypeYan" connectionString="Provider=SQLNCLI11;Data Source=25.38.6.103;Persist Security Info=True;Password=33226655;User ID=yan;Initial Catalog=Paype"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>